.our-info {
	display: flex;
	justify-content: center;
	padding-top: 13px;
}

.bottom-wrap {
	display: flex;
	justify-content: center;
}

.recaptcha {
	display: flex;
	font-size: 12px;
	gap: 5px;
	line-height: 16px;
	margin-top: 15px;
	color: #dadadacc;
	font-weight: 600;
	&__link {
		text-decoration: none;
		padding: 0;
		color: inherit;

		&:visited {
			color: inherit;
		}
	}
}
